<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506414728723-g2b34pe1cnaa3rtthked3qg5m8ifme3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506414728723-g2b34pe1cnaa3rtthked3qg5m8ifme3k</string>
	<key>API_KEY</key>
	<string>AIzaSyBLM_lvwStiO7kfDR1GvCuFQQj78Dyhk4I</string>
	<key>GCM_SENDER_ID</key>
	<string>506414728723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fss.oobAuthAcs</string>
	<key>PROJECT_ID</key>
	<string>oobauthacs</string>
	<key>STORAGE_BUCKET</key>
	<string>oobauthacs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:506414728723:ios:4d958b69830fd17084e1e6</string>
	<key>DATABASE_URL</key>
	<string>https://oobauthacs.firebaseio.com</string>
</dict>
</plist>
